*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f3f4f6;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px;
}

.form-box{
    background:white;
    width:100%;
    max-width:500px;
    padding:35px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.form-box h1{
    margin-bottom:10px;
}

.form-box p{
    color:gray;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 14px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    outline: none;
    font-size: 15px;

    appearance: none; /* IMPORTANT */
    background: white;
}

.input-group input:focus,
.input-group select:focus{
    border-color:#2563eb;
}

.btn{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#1e40af;
}

.form-box{
    animation: fadeIn .3s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.back-btn{
    display:inline-block;
    margin-bottom:20px;
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
}


.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.toast.success {
    background: #16a34a;
    color: white;
}

.toast.error {
    background: #dc2626;
    color: white;
}

.feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    padding: 25px 40px;

    border-radius: 15px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,.15);

    z-index: 9999;
}

.hidden {
    display: none;
}

.feedback-icon {
    font-size: 60px;
    margin-bottom: 10px;
    animation: pop .4s ease;
}

.success {
    color: #16a34a;
}

.error {
    color: #dc2626;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {

    .input-group input,
    .input-group select {
        width: 100%;
        font-size: 14px;
        padding: 12px;
    }
}

input, select {
    scroll-margin-top: 80px;
}